<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root</title>
</head>
<body>
   <form method="get" action="/chats">
        <h3> Your root path is working ............</h3>
        <h4>To show chats plese click the button .........</h4>
        <button>Show Chats</button>
   </form>
</body>
</html>